<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Carls VUE Page</title>
</head>
<body>
    <br />
    <div id="app" class="container">
        <h4>Length Converter</h4>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="inch" value="inch" v-model="convertMode">
            <label class="form-check-label" for="inch">To inch</label>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="cm" value="cm" v-model="convertMode">
            <label class="form-check-label" for="cm">To cm</label>
        </div>

        <br />
        
        <div class="form-group row">
            <div class="col-sm-3">
                <input class="form-control" type="text" v-model="inputValue" id="inputValue">
            </div>
            <label for="inputValue" class="col-sm-2 col-form-label" v-text="inputUnit">inch</label>
            <div class="col-sm-1">
                <p>=</p>
            </div>
            <div class="col-sm-3">
                <input type="text" readonly class="form-control-plaintext" v-bind:value="outputValue" id="outputValue">
            </div>
            <label for="outputValue" class="col-sm-2 col-form-label" v-text="outputUnit">cm</label>
        </div>
        
        <!--
            <button v-on:click="convertUnit" class="btn btn-primary">Convert</button>
        -->
        


        <p v-text="message"></p>
    </div>

    
    
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./js/main.js"></script>
</body>
</html>