<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carls VUE Page</title>
</head>
<body>
    <div id="app">
        <p>{{ message }}</p>
        <button v-on:click="delta">Press Me</button>
        <hr>
        <input type="text" v-model="message" placeholder="message">
        
        <hr>
        <h4>inch to cm</h4>
        <p>Length by inch</p>
        <input type="text" v-model="inchValue">
        <p>{{cmValue}} cm</p>
        <button v-on:click="convertUnit">Convert</button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue',
                message1: 'Hello World',
                message2: 'Hello World',
                inchValue: 0.0,
                cmValue: 0.0
            },
            methods: {
                
                delta: function(){
                    this.message = "Kia ora";
                },
                convertUnit: function(){
                    this.cmValue = this.inchValue * 2.54;
                }
            }
        })
    </script>
</body>
</html>